apiVersion: v1
kind: Service
metadata:
  name: rabbitmq-service
  namespace: catalogapi
  labels:
    app: rabbitmq
    component: message-broker
spec:
  type: ClusterIP
  ports:
  - port: 5672
    targetPort: 5672
    protocol: TCP
    name: amqp
  - port: 15672
    targetPort: 15672
    protocol: TCP
    name: management
  selector:
    app: rabbitmq
---
# Service adicional para expor a UI de gerenciamento (opcional)
apiVersion: v1
kind: Service
metadata:
  name: rabbitmq-management
  namespace: catalogapi
  labels:
    app: rabbitmq
    component: message-broker
spec:
  type: NodePort
  ports:
  - port: 15672
    targetPort: 15672
    protocol: TCP
    name: management
    nodePort: 31672  # Porta externa para acessar a UI
  selector:
    app: rabbitmq
